<?xml version="1.0"?>
<launch>
	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="false"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="true"/>

	<arg name="model" default="$(find charle_description)/urdf/charle.xacro"/>
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find charle_gazebo)/worlds/walls.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<include file="$(find charle_control)/launch/charle_control.launch" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"	args="-urdf -model robot1 -param robot_description -z 0.05"/>
</launch>
