<?xml version="1.0"?>
<launch>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--<arg name="world_name" value="$(find charle_gazebo)/worlds/walls.world"/>-->
		<arg name="world_name" value="$(find charle_gazebo)/worlds/taliarte.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<arg name="model" default="$(find charle_description)/urdf/charle.xacro"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
<!--	<node name="charle_state_publisher" pkg="charle_description" type="charle_state_publisher" />-->

	 <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="taliarte" value="$(find charle_gazebo)/worlds/taliarte.world"/>

	  </include>-->


<!--	<node name="odom" pkg="AVORA_odom" type="odom" />
	<node name="control_roboclaw" pkg="AVORA_odom" type="control_roboclaw" />
	
	<node name="Sonar2CloudPoint2" pkg="Sonar2Laser" type="sonar2PointCloud" />
	<node name="Sonar2Laser" pkg="Sonar2Laser" type="Sonar2Laser" />
	<node name="superficie" pkg="Sonar2Laser" type="superficie" /> -->

	<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find charle_description)/urdf.rviz"/>-->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"	args="-urdf -model robot1 -param robot_description -z 0.05"/>

	<include file="$(find charle_control)/launch/charle_control.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find charle_description)/urdf.rviz"/>

</launch>
